################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Performance Analyser/.vs/Performance Analyser/v15
/Performance Analyser/.vs/Performance Analyser/v15/ipch/PERFORMANCE ANALYSER-614068fb
/Performance Analyser/Debug
/Performance Analyser/x64/Debug
/Performance Analyser/x64/Release/Performance Analyser.iobj
/Performance Analyser/x64/Release/Performance Analyser.ipdb
/Performance Analyser/x64/Release/Performance Analyser.pdb
/Performance Analyser/Performance Analyser/Debug
/Performance Analyser/Performance Analyser/x64
